{% extends 'base.html' %}
{% load static  %}
{% block title %}Home{% endblock %}
{% block page_title %}Home{% endblock %}
{% block extra_head %}

{% endblock %}
{% block body_block %}
        <h3 class=>{{subject }}</h3>
		<!-- Image source : http://publicdomainvectors.org/en/free-clipart/Under-construction-vector-icon/8209.html-->
		<!--<img src="{% static "images/underConstruction.png" %}" style="width: 20%"alt="Under Construction icon" /> -->
 {% if items %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>URL</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
   
	{% for item in items %}
	  <tr>
  <td id="title">{{ item.title }}</td>
	<td><a href="{{ item.link }}">{{ item.link }}</a></td>
	<td>{% autoescape off %}{{ item.description }}{% endautoescape %}</td></tr>
	{% endfor %}
	   </tbody>
</table>
 {% endif %}
 {% endblock %}