{% extends 'base.html' %}
{% load static  %}
{% block title %}Home{% endblock %}
{% block page_title %}Home{% endblock %}
{% block body_block %}
        <h3 class=>{{subject }}</h3>
		<!-- Image source : http://publicdomainvectors.org/en/free-clipart/Under-construction-vector-icon/8209.html-->
		<!--<img src="{% static "images/underConstruction.png" %}" style="width: 20%"alt="Under Construction icon" /> -->
 {% if items %}
<ul class="list-group">
	{% for item in items %}
   <li class="list-group-item"> {{ item.title }}</br>
	{{ item.link }}</br>
	{% autoescape off %}{{ item.description }}{% endautoescape %} </li>
	{% endfor %}
	</ul>
 {% endif %}
 {% endblock %}