{% extends 'base.html' %}
{% load static  %}
{% block title %}Results{% endblock %}
{% block page_title %}Results{% endblock %}
{% block extra_head %}

{% endblock %}
{% block body_block %}
        <h3 class=>Showing results for "{{term }}"</h3>
		</br>
		<a href="/rss/"type="button" class="btn btn-default">Go back</a>
		<!-- Image source : http://publicdomainvectors.org/en/free-clipart/Under-construction-vector-icon/8209.html-->
		<!--<img src="{% static "images/underConstruction.png" %}" style="width: 20%"alt="Under Construction icon" /> -->
 {% if items %}
<table class="table table-striped">
    <thead>
        <tr>
            <th >Title</th>
            <th>URL</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody >
   
	{% for item in items %}
	  <tr>
  <td >{{ item.title }}</td>
	<td ><a href="{{ item.link }}">{{ item.link }}</a></td>
	<td >{% autoescape off %}{{ item.description }}{% endautoescape %}</td></tr>
	{% endfor %}
	   </tbody>
</table>
 {% else %}
 No results
 {% endif %}
 {% endblock %}