backports.ssl-match-hostname==3.4.0.2
BeautifulSoup==3.2.1
bsddb3==6.1.0
bzr==2.6b2
cffi==0.9.2
cfget==0.18
chardet==2.2.1
Codeville==0.8.0
cryptography==0.8.2
Cython==0.22
discid==1.1.0
Django==1.8.4
django-bootstrap3==6.2.2
django-datatable==0.1.2
django-filter==0.11.0
django-filters==0.2.1
docutils==0.12
egenix-mx-base==3.2.5
enum34==1.0.4
fastimport==0.9.2
feedparser==5.0.1
gdata==2.0.18
getmail==4.36.0
git-review==1.24
h5py==2.5.0
htmltmpl==1.22
Jinja2==2.7.3
lxml==3.4.4
Mako==1.0.1
marisa==0.0.0
MarkupSafe==0.23
mercurial==3.3
mingc==0.4.7
mutagen==1.26
netsnmp-python==1.0a1
numpy==1.9.2
offlineimap==6.5.5
paramiko==1.15.2
Pillow==2.8.1
ply==3.6
pyasn1==0.1.6
pycparser==2.12
pycrypto==2.6
pygame===1.9.1release
Pygments==1.6
pygobject==3.14.0
PyOpenGL==3.1.0
PyOpenGL-accelerate==3.1.0
pyOpenSSL==0.15.1
pyPdf==1.13
pyportmidi==0.0.7
Pyrex==0.9.9
pyxdg==0.25
reportlab==2.7
requests==2.7.0
simplejson==3.6.5
six==1.9.0
spambayes==1.0.4
Sphinx==1.2.3
stgit===0.17.1-dirty
tailor==0.9.35
Twisted==12.3.0
Unidecode==0.4.17
urlgrabber==3.1.0
urllib3==1.26.5
wheel==0.24.0
zinnia-python==0.0.0
zope.interface==4.1.2
